body {
  height: 100%;
  color: rgb(98, 98, 98);
  display: flex;
  justify-content: center;
  background: #F6F8FF;
}


.triangle-container {
  border: 1px solid rgb(151, 151, 151);
  width: var(--component-width);
  height: var(--component-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.triangle-text {
  width: var(--component-width);
  height: 50px;
  text-align: center;
  position: absolute;
  font-size: 20px;
  font-family: 'Helvetica';
}

#triangle-placeholder {
  display: none;
  top: calc(var(--component-height)/2);
}

#triangle-info {
top: calc(var(--component-height)*0.92);
}



.triangle-child {
  width: 0;
  height: 0;
  border-left: var(--left_border);
  border-right: var(--right_border);
  border-bottom-width: var(--border_bottom_width);
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #00bcd4;
}

.triangle-inputs {
  display: flex;
  flex-direction: column;
}

.triangle-inputs > * > * {
  width: 100px;
  text-align: center; 
  border: 1px solid rgb(151, 151, 151);
  display: inline-block;
  padding: 10px 0px;
  margin: 5px;
  cursor: default;
}

#triangle-calculate-btn {
  background-color: #3f3f3f; /* Green */
  width: 150px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 0px;
  text-align: center;
  font-size: 22px;
  font-family: 'Helvetica';
  margin: 25px 2px;
  cursor: pointer;
}